---
pagination:
  data: collections.asks
  size: 9
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Traffic" %}

{% block content %}
    <h1>Our Asks</h1>
    <img src="/images/whs-logo3.svg" class="kg-image">
    <div class="row">
        {% for post in collections.asks %}
            {{ card(post) }}
        {% endfor %}
    </div>
{% endblock%}
