---
pagination:
  data: collections.news
  size: 9
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/news.njk" import card_news %}

{% set title = "News" %}

{% block content %}
    <div class="row">
        {% for post in collections.news %}
            {{ card_news(post) }}
        {% endfor %}
    </div>
{% endblock%}
