---
pagination:
  data: collections.pollution
  size: 9
  alias: posts
---

{% extends 'layouts/default.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Pollution" %}

{% block content %}
    <div class="row">
        {% for post in collections.pollution %}
            {{ card(post) }}
        {% endfor %}
    </div>
{% endblock%}
