{% extends 'layouts/default.njk' %}

{% set title = "Join" %}

{% block content %}

    <div class="row justify-content-center">
<div class="col-lg-9">
      <h1 class="mt-3">Join us</h1>
    <!-- Example row of columns -->

        <p class="lead">
            Do you want healthy streets? Join our mailing list! Your data will only be used to send you updates about how you can support Westminster Healthy Streets. You can unsubscribe at any time.
        </p>
    <form id="join-form">
  <div class="form-group">
    <label for="forename">First name</label>
    <input type="text" class="form-control" id="forename" name="forename" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" class="form-control" id="postcode" name="postcode" aria-describedby="postcode-help" placeholder="Enter postcode">
    <small id="postcode-help" class="form-text text-muted">Anyone can join, we'd just like an idea of how well we represent Westminster.</small>
  </div>
<div class="alert alert-danger" id="form-error" style="display:none">
</div>
<div class="alert alert-success" id="thanks" style="display:none">
    Thanks, we'll be in touch!
</div>
  <button type="submit" class="btn btn-primary my-2" id="form-submit">Submit</button>
</form>
</div>
</div>

{% endblock%}
