<footer class="font-small mt-4 mt-auto" style="background-color:#28b828;width:100%">

  <div class="footer-copyright text-center py-3" style="color:white">
      &copy; 2021 {{ site.title }}
  </div>

</footer>



