<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color:#28b828">
    <a class="navbar-brand" href="/">
        <img src="/images/whs-logo3.svg" style="height:30px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/asks">Asks</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/pollution">Pollution</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/health">Health</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/traffic">Traffic</a>
            </li>
            <!--<li class="nav-item active">
                <a class="nav-link" href="/events">Events</a>
            </li>-->
            <li class="nav-item active">
                <a class="nav-link" href="/who-are-we">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/join">Join</a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            <div class="social-links">
                {% if site.twitter %}
                    <a href="https://twitter.com/{{ site.twitter | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
                        {{ icon({ id: 'twitter' }) }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

